---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import FormattedDate from '@/components/FormattedDate.astro'

import '@/styles/index.scss'


export function etaReadTime(body:any) {
	const wordCount = body.split(/\s+/).length
	const mins = Math.ceil(wordCount / 225)

	if (mins === 1) {
		return '~1 min read'
	} else { return `${mins} min read` }
}

const posts = ( await getCollection('post')).map(post => {
	const readTime = etaReadTime(post.body)
	return { ...post, readTime }
}).sort(( a, b ) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf() )
---

<Layout title='blog'>
	<div id='head'>
		<h1>InvisyArcticFox's Blog</h1>
		<div class='desc'>
			<div>Hey, this is my blog :3</div>
			<div>I'll be writing here what I've done, or just about cool stuff i wanna write about.</div>
			<div>So it's kind of a <i>'journal'</i> rather than a blog, but that's kinda what blogs are right?</div>
		</div>
	</div>

	<div class='sep'></div>

	<div id='blogs'>
		<ul>
			{
				posts.map(({ data: { title, pubDate }, id, readTime }) => (
					<li class='post'>
						<a href={`/p/${id}`}>
							<div class='info'>
								<span>
									<FormattedDate date={pubDate} /> &bull; <i>{readTime}</i>
								</span>
								<div class='title'>{title}</div>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>