---
import type { CollectionEntry } from 'astro:content'
import Layout from './Layout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import { ArrowLeftIcon, ArrowRightIcon } from 'astro-feather'

import '@/styles/post.scss'

type Props = CollectionEntry<'post'>['data'] & {
	prev: CollectionEntry<'post'> | null
	next: CollectionEntry<'post'> | null
}

const { title, pubDate, tags, prev, next } = Astro.props
---
<Layout title={`p: ${title}`}>
	<div class='post'>
		<div class='info'>
			<div class='date'>
				<FormattedDate date={pubDate} time />
			</div>
			<div class='title'>{title}</div>
			<div class='tags'>
				{ 
					tags && tags.length > 0 ? (
						tags.map(( tag, i ) => (
							<>
								<span><a href={`../tags/${tag}`}>#{tag}</a></span>{i < tags.length - 1 ? ', ' : '' }
							</>
						))
					) : null 
				}
			</div>
			<div class='sep'></div>
		</div>
		<div class='text'>
			<slot/>
		</div>
	</div>

	<div id='nav'>
		{ prev && ( <a class='prev btn' href={`./${prev.id}`} title={prev.data.title}><ArrowLeftIcon /> Prev post</a> )}
		{ next && ( <a class='next btn' href={`./${next.id}`} title={next.data.title}>Next post <ArrowRightIcon /></a> )}
	</div>
</Layout>