---
import Layout from './Layout.astro'
import FormattedDate from '@/components/FormattedDate.astro'

import '@/styles/post.scss'
import Arrow from '@/assets/arrow.svg'

const { title, pubDate, re, nav, readTime, charCount } = Astro.props
const { prev, next } = nav || { prev:null, next:null }
---

<Layout title={`p: ${title}`}>
	<div class='post'>
		<div class='info'>
			<div class='date'><FormattedDate date={pubDate} showTime /></div>
			<div class='title'> { re ? ( <> Re: <a href={`./${re}`}>{title.substring(4)}</a> </> ) : title } </div>
			<div class='stats'>{readTime} - {charCount}</div>
			<div class='sep' />
		</div>
		<div class='text'> <slot/> </div>
	</div>

	<div id='nav'>
		<a
			class={`btn prev ${prev ? '' : 'disabled'}`}
			href={prev ? `./${prev.id}` : '#'}
			title={prev ? prev.data.title : undefined}
		>
			<Arrow /> Prev Post
		</a>
		<a
			class={`btn next ${next ? '' : 'disabled'}`}
			href={next ? `./${next.id}` : null}
			title={next ? next.data.title : undefined}
		>
			Next Post <Arrow />
		</a>
	</div>
</Layout>