---
import Layout from './Layout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import NavArrows from '@/components/NavArrows.astro'

import '@/styles/post.scss'

const { title, pubDate, re, nav, readTime, charCount } = Astro.props
const { prev, next } = nav || { prev:null, next:null }
---

<Layout title={`p: ${title}`}>
	<div class='post'>
		<div class='info' transition:name={'info'}>
			<div class='date'><FormattedDate date={pubDate} showTime /></div>
			<div class='title nav'>
				<NavArrows dir='prev' item={prev} transition={'titleprev'} />
				{title}
				<NavArrows dir='next' item={next} transition={'titlenext'} />
				{ re && ( <div class='re' transition:name={re.id}>re: <a href={`../${re.href}`}>{re.title}</a></div> ) }
			</div>
			<div class='stats'>{readTime} - {charCount.toLocaleString('en-GB')} characters</div>
			<div class='sep' />
		</div>
		<div class='text'> <slot/> </div>
	</div>

	<div id='nav'>
		<NavArrows dir='prev' item={prev} transition={'navprev'}> Prev Post </NavArrows>
		<NavArrows dir='next' item={next} transition={'navnext'}> Next Post </NavArrows>
	</div>
</Layout>